.App {
	display: flex;
	justify-content: center;
}

/* Animation Example */
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: grow infinite 5s linear;
	}
}

@keyframes grow {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
